ntp
pandas
dash
dash_core_components
dash-bootstrap-components
dash_html_components
boto3
google-auth
google.cloud
pyarrow
azure-storage-blob
requests
azure-mgmt-consumption
azure.identity
pyyaml
